@using System.Web.Optimization
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@using RoadWatch.Common
@using RoadWatch.Public

<!DOCTYPE html>
<html>
<head>
    <title>Road Watch</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Robert Jackson" />
    <meta name="description" content="Website for reporting road conditions" />
    <link rel="shortcut icon" href="/Content/images/favicon.ico" type="image/x-icon" />
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
        @{ var settings = JsonConvert.SerializeObject(
               ViewBag.ConfigSettings,
               Formatting.None,
               new JsonSerializerSettings {ContractResolver = new CamelCasePropertyNamesContractResolver()}
               ); }

        var roadWatchSettings = function () { return @Html.Raw(settings); }();
    </script>

    @Styles.Render(CommonBundleConfig.SiteCommonStyles)
    @Styles.Render(BundleConfig.SiteStyles)

    @Scripts.Render(CommonBundleConfig.SiteCommonScripts)
    @Scripts.Render(BundleConfig.SiteScripts)
    @Scripts.Render(CommonBundleConfig.SiteCommonAngularSettings)
    @Scripts.Render(BundleConfig.SitePartials)
</head>
<body ng-app="roadWatch" class="fill-height">
    <div class="body-wrapper fill-height">
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="navigationController">
                <div class="container-fluid">
                    <div class="row hidden-xs nav-header">
                        <div class="">
                            <div class="col-md-12">
                                <div class="clearfix site-heading">
                                    <img class="pull-left" src="~/Content/images/logo_med.png" alt="" />
                                    <h1 id="site-heading-text" class="header-fix navbar-brand">Northern Territory Road Watch</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="navbar-brand visible-xs">NT Road Watch</span>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a ui-sref="home">
                                    <span class="fa fa-home"></span> Home
                                </a>
                            </li>
                            <li>
                                <a ui-sref="announcements">
                                    <span class="fa fa-bullhorn"></span> Announcements
                                </a>
                            </li>
                            <li>
                                <a ui-sref="road-reports">
                                    <span class="fa fa-file-text"></span> Road Reports
                                </a>
                            </li>
                            <li>
                                <a ui-sref="road-map">
                                    <span class="fa fa-map"></span> Road Map
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href ng-click="vm.reportRoadCondition()">
                                    <span class="fa fa-exclamation-triangle"></span> Report Road Condition
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container-fluid viewport">
            <div class="row fill-height">
                <div class="col-md-12 fill-height">
                    <div ui-view="main-body" class="fill-height"></div>
                </div>
            </div>
        </div>
        <footer class="footer text-center">
            <div class="navbar navbar-default navbar-fixed-bottom footer-default">
                <div class="container-fluid">
                    <a class="btn btn-social-icon btn-facebook pull-left" target="_blank" href="http://facebook.com/roadreportnt">
                        <span class="fa fa-facebook-f"></span>
                    </a>
                    <div class="navbar-collapse collapse" id="footer-nav">
                        <ul class="nav navbar-nav">
                            <li>
                                <a>Copyright</a>
                            </li>
                            <li>
                                <a>Disclaimer</a>
                            </li>
                            <li>
                                <a>Privacy</a>
                            </li>
                            <li>
                                <a>Right to Information</a>
                            </li>
                            <li>
                                <a>Accessibility</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed footer-toggle-default" data-toggle="collapse" data-target="#footer-nav" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
